
body{
	margin:0;
	padding: 0;
	background-image:linear-gradient(to bottom,#491179,#FFFFFF);
	background-repeat:no-repeat;
	font-family: 'Montserrat', sans-serif;
}
.float{
	background-color: white;
	position: relative;
	width: 900px;
	height: 500px;
	margin-top: 100px;
	margin-left:auto;
	margin-right: auto;
	border-radius: 10px 10px 10px 50px;
	box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
.logo-div{
	background-image: linear-gradient(to bottom,#9122F1,#491179);
	width: 500px;
	height: 500px;
	border-radius: 0px 20px 0px 50px;
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
}
.logo-img{
	width: 180px;
	margin-top: 100px;
	margin-left: 140px;
	margin-bottom: 20px;
}
.label-div label{
	margin-left: 150px;
	color: white;
	font-size: 40px;
	font-weight: 600;
}
.form-div{
	float: right;
	margin-right: -30px;
	margin-top: -480px;
}
.label-form label{
	margin-left: 260px;
	font-weight: bolder;
	color: #4D1280;
}
.label-form label:hover{
	cursor: pointer;
}
.txt-div{
	margin-top: 90px;
}
.txt-div input{
	width: 280px;
	height: 30px;
	border-radius: 10px;
	border-width: 2px;
	border-color: black;
	margin-bottom: 20px;
	font-size: 16px;
	color: #0d0316;
	padding: 10px;
}
.txt-div label{
	padding-right:100%;
}
.checkbox-div{
	margin-top: -15px;
}
.checkbox-div label{
	color: #002BFF;
	font-size: 12px;
}
.checkbox-div label:hover{
	cursor: pointer;
}
.btn-forgot-div{
	margin-top: 60px;
}
.btn-input{
	width: 260px;
	height: 40px;
	border-radius: 50px;
	border: none;
	background-color:#4D1280;
	color: white;
	font-weight: bold;
	font-size: 16px;
	margin-left: 20px;
}
.btn-input:hover{
	cursor:pointer;
	background-color:#5e169c;
}
.forgot-div{
	margin-left: 80px; 
}
.forgot-div label:hover{
	cursor: pointer;
}
.forgot-div label{
	color: #002BFF;
	font-size: 12px;
	text-decoration: underline;
}

.content-singup{
	position: relative;
	margin-top: 250px;
	left: 200px;
	width: 350px;
	height: 550px;
	margin-left: auto;
	margin-right: auto;
	background-color: white;
	border-radius: 10px;
	box-shadow: 0 0 0 1000px rgba(0,0,0,.8);
	transform: translate(-50%, -50%);
	display: none;
}
.singup{
	margin-top: -510px;
	padding-top: 50px;
	padding-left: 40px;
}
.registre label{
	padding-top: 20px;
	font-size: 30px;
	font-weight: bold;
	color: #4D1280;
}
.singup-label{
	margin-left: auto;
	margin-right: auto;
}
.txt-singup input{
	font-family: 'Montserrat', sans-serif;
	width: 250px;
	height: 25px;
	padding-left: 10px;
	border-color:grey;
	border-width: 1px;
	border-radius: 3px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.btn-singup input{
	width: 260px;
	height: 35px;
	margin-top: 20px;
	border-radius: 50px;
	font-weight: bold;
	border: none;
	color: white;
	background-color: #4D1280;
}
.btn-singup input:hover{
	cursor: pointer;
	background-color: #5e169c;
}
.btn-close input{
	margin-left: 250px;
	background-color: transparent;
	border-radius:60px;
	border-color: black;
	border-width: 1px;
	font-size: 15px;
	font-weight: bold;
}
.btn-close input:hover{
	transition: 1s;
	cursor: pointer;
	background-color: #4D1280 ;
	color: white;
}


@media(max-width: 910px){
	.float{
	width: 650px;
	height: 500px;
	margin-top: 100px;
	margin-left:auto;
	margin-right: auto;
	}
	.logo-div{
		width: 300px;;
	}
	.logo-img{
		width: 100px;
		margin-top: 150px;
		margin-left: 100px;
	}
	.label-div label{
		font-size: 30px;
		margin-left: 90px;
	}
	.txt-div{
		margin-left: 10px;
	}
	.txt-div input{
		width: 250px;
		height: 25px;
		padding: 10px;
	}
	.content-singup{
		position: relative;
		margin-top: 390px;
		left: 180px;
		width: 350px;
		height: 550px;
		transform: translate(-50%, -70%);
		display: none;
	}
	
	.checkbox-div{
		margin-left: 20px;
	}
	
}
@media(max-width: 665px){
	.float{
		width: 350px;
		height: 600px;
		margin-top: 100px;
		margin-left:auto;
		margin-right: auto;
		margin-bottom: 50px;
		border-radius: 20px 20px 20px 20px;
		}
		.logo-div{
			width: 350px;
			height: 200px;
			border-radius: 20px 20px 20px 20px;
		}
		.logo-img{
			width: 80px;
			margin-top: 25px;
			margin-left: 130px;
		}
		.label-div label{
			font-size: 30px;
			margin-left: 110px;
		}
		.label-form{
			position: relative;
			margin-left: -20px;
		}
		.form-div{
			margin-top: 20px;
			margin-left: 20px;
		}
		.txt-div{
			margin-top: 10px;
			margin-left: 20px;
		}
		.txt-div input{
			width: 230px;
			height: 20px;
			padding: 10px;
		}
		.checkbox-div{
			margin-left: 20px;
		}
	}
