body, html {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

*::selection {
  background: transparent;
}

label::selection, h4::selection, input::selection {
  background: #5e169c;
  color: #fff;
}

body {
  background-image: linear-gradient(to bottom, #491179, #FFFFFF);
  background-repeat: no-repeat;
}

.float {
  background-color: #fff;
  position: relative;
  width: 900px;
  height: 500px;
  margin-top: 80px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px 10px 10px 50px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  animation-duration: 0.8s;
  animation-name: downbox;
}
@media screen and (max-width: 910px) {
  .float {
    width: 650px;
    height: 500px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 665px) {
  .float {
    width: 350px;
    height: 600px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    border-radius: 20px 20px 20px 20px;
  }
}

.logo-div {
  background-image: linear-gradient(to bottom, #9122F1, #491179);
  width: 500px;
  height: 500px;
  border-radius: 0px 20px 0px 50px;
  box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
}
@media screen and (max-width: 910px) {
  .logo-div {
    width: 300px;
  }
}
@media screen and (max-width: 665px) {
  .logo-div {
    width: 350px;
    height: 200px;
    border-radius: 20px 20px 20px 20px;
  }
}

.logo-img {
  width: 180px;
  margin-top: 100px;
  margin-left: 140px;
  margin-bottom: 20px;
}
@media screen and (max-width: 910px) {
  .logo-img {
    width: 100px;
    margin-top: 150px;
    margin-left: 100px;
  }
}
@media screen and (max-width: 665px) {
  .logo-img {
    width: 80px;
    margin-top: 25px;
    margin-left: 130px;
  }
}

.label-div label {
  margin-left: 150px;
  color: #fff;
  font-size: 40px;
  font-weight: 600;
}
@media screen and (max-width: 910px) {
  .label-div label {
    font-size: 30px;
    margin-left: 90px;
  }
}
@media screen and (max-width: 665px) {
  .label-div label {
    font-size: 30px;
    margin-left: 110px;
  }
}

.form-div {
  float: right;
  margin-right: -30px;
  margin-top: -480px;
}
@media screen and (max-width: 665px) {
  .form-div {
    margin-top: 20px;
    margin-left: 20px;
  }
}

.label-form label {
  margin-left: 260px;
  font-weight: bolder;
  color: #4D1280;
}
.label-form label:hover {
  cursor: pointer;
  color: rgba(77, 18, 128, 0.8);
}
@media screen and (max-width: 910px) {
  .label-form {
    position: relative;
    margin-left: -25px;
  }
}
@media screen and (max-width: 665px) {
  .label-form {
    position: relative;
    margin-left: -20px;
  }
}

.txt-div {
  margin-top: 90px;
}
.txt-div input {
  width: 280px;
  height: 30px;
  border-radius: 10px;
  border-width: 1px;
  border-color: #000;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 18px;
  padding: 10px;
  outline: 0;
}
.txt-div label {
  padding-right: 100%;
}
@media screen and (max-width: 910px) {
  .txt-div {
    margin-left: 10px;
  }
  .txt-div input {
    width: 250px;
    height: 25px;
    padding: 10px;
  }
}
@media screen and (max-width: 665px) {
  .txt-div {
    margin-top: 10px;
    margin-left: 20px;
  }
  .txt-div input {
    width: 230px;
    height: 20px;
    padding: 10px;
  }
}

.checkbox-div {
  margin-top: -15px;
}
.checkbox-div label {
  color: #002BFF;
  font-size: 12px;
}
.checkbox-div label:hover {
  cursor: pointer;
}
@media screen and (max-width: 910px) {
  .checkbox-div {
    margin-left: 20px;
  }
}
@media screen and (max-width: 665px) {
  .checkbox-div {
    margin-left: 20px;
  }
}

.btn-forgot-div {
  margin-top: 60px;
}

.btn-input {
  width: 260px;
  height: 40px;
  border-radius: 50px;
  border: none;
  background-color: #4D1280;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  margin-left: 20px;
  outline: 0;
}
.btn-input:hover {
  transition: 0.3s;
  cursor: pointer;
  background-color: rgba(94, 22, 156, 0.8);
}

.forgot-div {
  margin-left: 80px;
}
.forgot-div label {
  color: #002BFF;
  font-size: 12px;
  text-decoration: underline;
}
.forgot-div label:hover {
  cursor: pointer;
}

@keyframes downbox {
  from {
    margin-top: -700px;
  }
  to {
    margin-top: 80px;
  }
}
.hidden {
  display: none;
}

.active_register {
  overflow: visible;
  transition: opacity 5s;
  position: absolute;
  display: flex;
  left: 300px;
  width: 600px;
  height: 600px;
  top: 50%;
  left: 50%;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 0 1000px rgba(0, 0, 0, 0.8);
  transform: translate(-50%, -50%);
  animation-duration: 0.5s;
  animation-name: showbox;
}
@media screen and (max-width: 910px) {
  .active_register {
    margin-top: 100px;
    width: 350px;
    height: 500px;
    transform: translate(-50%, -70%);
  }
}

.singup {
  position: relative;
  padding-top: 50px;
  padding-left: 60px;
}
@media screen and (max-width: 910px) {
  .singup {
    padding-left: 40px;
  }
}

.registre label {
  padding-top: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #4D1280;
}

.txt-singup input {
  font-family: "Montserrat", sans-serif;
  width: 450px;
  height: 35px;
  padding-left: 10px;
  border-color: #37343a;
  border-width: 1px;
  border-radius: 10px;
  margin-bottom: 15px;
  font-size: 14px;
  outline: 0;
}
@media screen and (max-width: 910px) {
  .txt-singup input {
    width: 250px;
    height: 30px;
  }
}

.btn-singup input {
  width: 460px;
  height: 40px;
  margin-top: 20px;
  border-radius: 40px;
  font-weight: bold;
  border: none;
  color: white;
  background-color: transparent;
  border: solid;
  border-width: 1px;
  border-color: #4D1280;
  color: #4D1280;
}
.btn-singup input:hover {
  transition: 0.5s;
  cursor: pointer;
  background-color: #5e169c;
  color: #fff;
}
@media screen and (max-width: 910px) {
  .btn-singup input {
    width: 260px;
  }
}

.btn-close {
  width: 28px;
  height: 28px;
  margin-left: 250px;
  border-radius: 100%;
  border: solid;
  background-color: transparent;
  border-color: #4D1280;
  border-width: 1px;
  color: #4D1280;
  transform: rotate(-90deg);
  transition: transform 0.8s;
  align-items: center;
  display: flex;
  justify-content: center;
}
.btn-close:hover {
  background-color: #4D1280;
  transition: 0.5s;
  cursor: pointer;
  color: #fff;
  transform: rotate(90deg);
  transition: transform 0.8s;
}
.btn-close a {
  text-align: center;
  font-size: 18px;
}

@keyframes showbox {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hidebox {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
body {
  display: block;
}

.title-section {
  padding-left: 10px;
  background-color: #4D1280;
  height: 50px;
}

.img-title {
  width: 30px;
  margin-top: -31px;
}
.img-title img {
  width: 23px;
  margin-left: 10px;
}
.img-title img::selection {
  background: #5e169c;
}
.img-title:hover img {
  cursor: pointer;
}

.title-label {
  margin-left: 35px;
  margin-top: 12px;
}
.title-label a {
  text-decoration: none;
}
.title-label a label {
  font-size: 31px;
  font-weight: bold;
  color: #fff;
}
.title-label:hover a label {
  cursor: pointer;
}
.title-label:hover a label::selection {
  background: #5e169c;
  color: #fff;
}

.out-section {
  margin-right: 20px;
  margin-top: -28px;
  float: right;
  background-color: #4D1280;
  width: 60px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid;
  border-radius: 5px;
  border-color: #fff;
  border-width: 1.5px;
  outline: 0;
}
.out-section:hover {
  transition: 0.5s;
  background-color: #fff;
  border-color: #4D1280;
  cursor: pointer;
}
.out-section:hover label {
  color: #4D1280;
  cursor: pointer;
}
.out-section label {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.content {
  background-color: #fff;
  height: 100%;
}

.labels {
  background-color: #fff;
  display: flex;
  align-items: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 30px;
}

.welcome label {
  font-size: 50px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
}

.ydata label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.3);
}

.fields {
  display: flex;
  align-items: center;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.fields input {
  width: 500px;
  height: 35px;
  padding-left: 10px;
  font-size: 14px;
  outline: 0;
  border-radius: 5px;
  border-width: 1px;
  border-color: #000;
}
@media screen and (max-width: 910px) {
  .fields input {
    width: 400px;
    height: 30px;
  }
}
@media screen and (max-width: 665px) {
  .fields input {
    width: 250px;
    height: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
