body {
	background-image: $gradient_container;
    background-repeat:no-repeat;
}

.float{
	background-color: $secondary_color;
	position: relative;
	width: 900px;
    height: 500px;
    margin-top: 80px;
	margin-left:auto;
	margin-right: auto;
	border-radius: 10px 10px 10px 50px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);

    animation-duration: .8s;
    animation-name: downbox;

    @media screen and (max-width: $media_medium) {
        width: 650px;
        height: 500px;
        margin-top: 100px;
        margin-left:auto;
        margin-right: auto;
    }
    @media screen and (max-width: $media_small) {
        width: 350px;
        height: 600px;
        margin-top: 100px;
        margin-left:auto;
        margin-right: auto;
        margin-bottom: 50px;
        border-radius: 20px 20px 20px 20px;
    }
}

.logo-div{
	background-image: $gradient_logo;
	width: 500px;
	height: 500px;
	border-radius: 0px 20px 0px 50px;
	box-shadow: 3px 3px 3px 1px rgba(0, 0, 0, 0.2);
    @media screen and (max-width: $media_medium) {
        width: 300px;
    }
    @media screen and (max-width: $media_small) {
        width: 350px;
        height: 200px;
        border-radius: 20px 20px 20px 20px;
    }
}

.logo-img{
	width: 180px;
	margin-top: 100px;
	margin-left: 140px;
    margin-bottom: 20px;

    @media screen and (max-width: $media_medium) {
        width: 100px;
        margin-top: 150px;
        margin-left: 100px;
    }
    @media screen and (max-width: $media_small) {
        width: 80px;
        margin-top: 25px;
        margin-left: 130px;
    }
}

.label-div {
    label{
        margin-left: 150px;
        color: $secondary_color;
        font-size: 40px;
        font-weight: 600;
    }

    @media screen and (max-width: $media_medium) {
        label{
            font-size: 30px;
            margin-left: 90px;
        }
    }
    @media screen and (max-width: $media_small) {
        label{
            font-size: 30px;
            margin-left: 110px;
        } 
    }
}
.form-div{
	float: right;
	margin-right: -30px;
    margin-top: -480px;
    
    @media screen and (max-width: $media_small) {
        margin-top: 20px;
        margin-left: 20px;
    }
    
}
.label-form {
    label{	
        margin-left: 260px;
        font-weight: bolder;
        color: $primary_color;
    }
    label:hover{
        cursor: pointer;
        color: rgba($primary_color, 80%);
    }
    @media screen and (max-width: $media_medium) {
        position: relative;
        margin-left: -25px;
    }
    @media screen and (max-width: $media_small) {
        position: relative;
        margin-left: -20px;
    }

}
.txt-div{
    margin-top: 90px;
    input{
        width: 280px;
        height: 30px;
        border: solid;
        border-radius: 10px;
        border-width: 1px;
        border-color: $border_color;
        margin-top: 5px;
        margin-bottom: 20px;
        font-size: 18px;
        padding: 10px;
        outline: 0;
    }
    label{
        padding-right:100%;
    }

    @media screen and (max-width: $media_medium) { 
        margin-left: 10px;
        input{
            width: 250px;
            height: 25px;
            padding: 10px;
        }   
        
    }
    @media screen and (max-width: $media_small) {
        margin-top: 10px;
        margin-left: 20px;
        input{
            width: 230px;
            height: 20px;
            padding: 10px;
        } 
    }
}
.checkbox-div{
    margin-top: -15px;
    label{
        color: $label_link_color;
        font-size: 12px;
    }
    label:hover{
        cursor: pointer;
    }
    
    @media screen and (max-width: $media_medium) {
        margin-left: 20px;
    }
    @media screen and (max-width: $media_small) {
        margin-left: 20px;
    }
}

.btn-forgot-div{
	margin-top: 60px;
}

.btn-input{
	width: 260px;
	height: 40px;
	border-radius: 50px;
	border: none;
	background-color:$primary_color;
	color: $secondary_color;
	font-weight: bold;
	font-size: 16px;
    margin-left: 20px;
    outline: 0;
    &:hover{
        transition: .3s;
        cursor:pointer;
        background-color: rgba($primary_hover,80%);
    }
}
.forgot-div{
    margin-left: 80px;
    label{
        color: $label_link_color;
        font-size: 12px;
        text-decoration: underline;
    }
    label:hover{
        cursor: pointer;
    } 
}
.error-login{
    margin-left: 40px;
}

@import "./keyframes.scss";